/* body {
    background: #fefefe;
}


.header {
    color: #1460AA;
    font: 15px;
    /* text-decoration-line: underline; 
}

.textBackGround {
    background:  rgb(196, 199, 202)
}
 */

.main {
    width: 100%;
    max-width: 700px;
    margin: 32px auto;
    padding-top: 50px;
}

.main__footer {
    padding: 20px;
}

.header {}

.header__title {
    color: #1460AA;
    font: 15px;
}

.header__paragraph {
    padding: 16px;
    font-size: 20px;
}

.about {}

.about__header, .diary__header, .entry_header {
    color: #1460AA;
}

.about__link, .entry__link {
    color: #1A936F;
    text-decoration: none;
}

.dayentry {}

.dayentry__navigation {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 16px;
    background: #fff;
}

.dayentry__link {
    color: #1A936F;
    text-decoration: none;
}

.dayentry__title {
    color: #1460aa;
}

.dayentry__paragraph {
    padding: 16px;
    font-size: 20px;
}

.dayentry_picture {
    width: 100%;
    max-width:  150px;
    margin: 0 16px 16px 0;
}

.dayentry__footer {
    padding: 20px;
}