body {
    background: #fefefe;
    color: #333;
}

.mainHeader {
    color: tomato;
}

p {
    color: darkblue;
}

.sectionHeader {
    color: #1460aa;
}

/* .diaryHeader {
    color: #6c1285;
} */

.thirdHeader {
    color: #0496FF;
}

.navigation {

}

.navigation__list {
    list-style: none;
    padding: 0;
}

.navigation__item {
    display: inline;
}
.navigation__link {
    color: #1A936F;

}
.header {
    color: yellow;
}
.header__title {
    color: #00487C;
    margin-bottom: 48px;
}

 /* .about {
    width: 100%;
    max-width: 700px;
    height: 200px;
    overflow: scroll; 
    height:  400px; 
    margin: 0 auto;
   position: relative;
    
}   */


.paragraph {
    padding: 16px 0 0 16px;
    /* border: 3px solid #1A936F; */
    /* border-bottom: 3px dotted #1A936F; 
    background: #333;
    color: #fff;
    border-radius: 30px; */
    /* overflow: hidden; */
}

.main {
    width: 100%;
    max-width: 700px;
    margin: 32px auto;
    padding-top: 50px;
}

.box, .boxTest {
    width: 100px;
    height: 100px;
    background: yellowgreen;
    padding: 10px;
    border: 10px solid red;
    margin: 10px;
    /* position: absolute; */
    position: sticky;
    top: 0px;
    right: 50%;
}

/* .box {
    z-index: 2;
    position: fixed;
} */

.boxTest {
    top: 30px;
    background: blue;
    right: 55%;
}

.top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #1A936F;
    text-decoration: none;
}

.site-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 16px;
    background: #fff;
}

/* .korsi {
    width: 100%;
    max-width: 300px;
    display: block;
    float: right;
    margin: 0 16px 16px 0;
} */

.diary {
    clear: both; 
}

.diary__Header {
    color: #1460aa;
}

.about {

}

.about__header {
    color: #1460aa;
}

.about__paragraph {
    padding: 16px;
    font-size: 20px;
}

.about__picture {
    width: 100%;
    max-width: 150px;
    display: block;
    float: left;
    margin: 0 16px 16px 0; 
}

.about__paragraph--color {
    color: #FF6700;
}
.about__link {
    color: #1A936F;
}


.day {
    padding: 16px;
}

.day__heaer {
    margin: 0 0 16px;
    color: #0f96ff;
    font-size: 20px;
}

.day__paragraph {
    line-height: 24px;
    padding: 0;
    margin: 0;
}

.day__header--sunday {
    color: darkred;
}

.hobby {

}

.hobby__list {
    list-style: none;
    padding: 0;
}